In [1]:
from elo import set_elo_df, set_tilts
from elo_update import update_elo_with_fixtures
from fetch_elo import fetch_elo_data
from fixtures import compute_initial_tilts, get_fixtures
from simulation import simulate_match, simulate_season, build_season_summary
from table import build_league_table
from simulation_analysis import (
    create_comprehensive_table, 
    display_comprehensive_analysis,
    create_dashboard_figures,
    create_season_dashboard,
    create_social_media_chart
)

/Users/thorjan/git/elo/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

### Load data

In [2]:
fixtures = get_fixtures(force_refresh=False)  # Set to True to force refresh from API
elo = fetch_elo_data(force_refresh=False)  # Set to True to force refresh from ClubELO API
set_elo_df(elo) # Set the elo_df globally for Club class
tilts = compute_initial_tilts(fixtures)
set_tilts(tilts)  # Set the tilts globally for Club class

Loading fixtures from cache: fixtures.parquet
Loading ELO data from cache: elo_latest.parquet

Update ELO for missing matches

In [3]:
elo = update_elo_with_fixtures(elo, fixtures, tilts=tilts)
set_elo_df(elo) # Set the elo_df globally for Club class

10 teams had their ELO updated.

# Current standings

In [ ]:
build_league_table(fixtures.loc[fixtures.season == 2025])

# Simulation

In [4]:
iterations = 5000

stats_tracker_season, position_counts_season = simulate_season(fixtures, n_simulations=iterations)
table_mean_season, position_probs_season = build_season_summary(stats_tracker_season, position_counts_season, use_median=False)
table_median_season, _ = build_season_summary(stats_tracker_season, position_counts_season, use_median=True)

150 games have been played. Starting 5000 simulations of 90 games.

Simulating seasons:   0%|          | 0/5000 [00:00<?, ?it/s]

Mean

In [5]:
display(table_mean_season)
display(position_probs_season)

,Position,Team,Games,Exp Wins,Exp Draws,Exp Losses,Goals,Exp Points
0,1,Bodø/Glimt,30.0,21.49,4.56,3.95,76.83-24.2,69.03
1,2,Viking,30.0,20.08,5.01,4.90,72.24-37.55,65.26
2,3,Brann,30.0,17.61,5.42,6.97,55.16-39.4,58.24
3,4,Tromsø,30.0,15.37,5.71,8.92,46.98-38.7,51.83
4,5,Rosenborg,30.0,14.09,8.56,7.35,44.5-35.17,50.83
5,6,Molde,30.0,13.26,5.33,11.42,45.32-37.56,45.09
6,7,Sandefjord,30.0,13.22,3.77,13.01,50.99-44.25,43.42
7,8,Fredrikstad,30.0,11.23,7.98,10.80,36.28-35.06,41.66
8,9,KFUM Oslo,30.0,10.72,8.74,10.54,43.51-36.58,40.90
9,10,Vålerenga,30.0,11.20,5.23,13.57,43.87-49.41,38.84
10,11,Kristiansund,30.0,9.23,7.68,13.09,32.37-48.88,35.38
11,12,Ham-Kam,30.0,8.46,8.70,12.84,32.72-46.06,34.08
12,13,Sarpsborg 08,30.0,8.19,9.47,12.34,41.63-48.17,34.03
13,14,Bryne,30.0,7.38,7.35,15.26,33.54-52.57,29.50
14,15,Strømsgodset,30.0,5.34,3.56,21.10,33.36-63.05,19.58
15,16,Haugesund,30.0,2.45,4.30,23.25,16.85-69.54,11.64

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Bodø/Glimt,78.60,20.16,1.16,0.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Viking,20.28,68.56,10.24,0.84,0.08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Brann,1.08,10.26,67.22,15.60,4.72,0.82,0.18,0.12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Tromsø,0.02,0.60,11.02,40.98,28.64,11.62,4.32,1.80,0.80,0.16,0.02,0.02,0.00,0.00,0.00,0.00
Rosenborg,0.02,0.42,9.18,32.62,32.96,14.86,6.30,2.38,0.88,0.24,0.12,0.02,0.00,0.00,0.00,0.00
Molde,0.00,0.00,0.64,4.96,15.44,27.56,22.62,13.90,8.10,4.28,1.72,0.58,0.18,0.02,0.00,0.00
Sandefjord,0.00,0.00,0.38,3.08,10.08,19.18,21.16,18.74,13.90,7.58,3.92,1.46,0.44,0.08,0.00,0.00
Fredrikstad,0.00,0.00,0.14,0.92,3.96,11.40,17.90,19.96,19.24,13.56,6.90,4.16,1.66,0.20,0.00,0.00
KFUM Oslo,0.00,0.00,0.00,0.78,3.26,9.68,16.56,20.60,19.68,14.50,8.30,4.68,1.84,0.12,0.00,0.00
Vålerenga,0.00,0.00,0.02,0.12,0.74,3.46,6.68,12.84,18.80,23.70,17.78,10.56,4.32,0.98,0.00,0.00
Kristiansund,0.00,0.00,0.00,0.00,0.08,0.64,1.90,3.96,7.48,13.38,20.54,22.38,19.92,9.50,0.22,0.00
Ham-Kam,0.00,0.00,0.00,0.00,0.00,0.14,1.02,2.16,5.16,10.44,17.92,23.46,27.30,12.02,0.38,0.00
Sarpsborg 08,0.00,0.00,0.00,0.02,0.04,0.64,1.32,3.42,5.26,10.76,18.26,23.46,23.68,12.86,0.28,0.00
Bryne,0.00,0.00,0.00,0.00,0.00,0.00,0.04,0.12,0.70,1.40,4.52,9.04,20.16,61.08,2.94,0.00
Strømsgodset,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.18,0.50,3.14,91.94,4.24
Haugesund,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.24,95.76

Median

In [ ]:
display(table_median_season)

# Visualization

## Dashboard Charts
The visualization creates two key charts perfect for social media:

1. **Current vs Expected Position** (Left): Shows how many positions each team is above/below their ELO expectation
   - 🟢 Green bars = performing better than ELO predicts  
   - 🔴 Red bars = performing worse than ELO predicts
   - ⚫ Gray bars = performing exactly as expected

2. **Position Uncertainty** (Right): Shows prediction confidence for each team's final position
   - 🔴 Red = high uncertainty (unpredictable outcome)
   - 🟠 Orange = medium uncertainty  
   - 🟢 Green = low uncertainty (predictable outcome)

In [ ]:
# Create all dashboard figures using the simulation analysis module
current_table = build_league_table(fixtures.loc[fixtures.season == 2025])

# Create all figures at once
figures = create_dashboard_figures(
    table_mean_season, 
    position_probs_season, 
    stats_tracker_season, 
    current_table, 
    elo
)

print("Dashboard figures created successfully!")
print("Available figures:")
print("- figures['dashboard']: Main 2-panel dashboard")
print("- figures['social_media']: Social media optimized version") 
print("- figures['position_comparison']: Just the position comparison chart")
print("- figures['uncertainty']: Just the uncertainty chart")

# Summary Table

Complete overview with probabilities and performance metrics:

In [8]:
import importlib
import simulation_analysis
importlib.reload(simulation_analysis)
from simulation_analysis import create_comprehensive_table, display_comprehensive_analysis

# Create current table (needed for comparison)
current_table = build_league_table(fixtures.loc[fixtures.season == 2025])

# Create the comprehensive table
comprehensive_table = create_comprehensive_table(
    table_mean_season, 
    position_probs_season, 
    stats_tracker_season, 
    current_table, 
    elo
)

# Display the table
display_comprehensive_analysis(comprehensive_table, iterations)

ELITESERIEN 2025 - SIMULATION (5000 iterations)
===============================================

- Position Diff: ELO ranking vs expected final position (positive = outperforming ELO)
- Uncertainty: Standard deviation of simulated final points

# Playground

In [ ]:
fixtures.loc[
    ((fixtures['home'] == 'Sandefjord') & (fixtures['away'] == 'Viking')) & (fixtures['season'] == 2025)
]

In [ ]:
fixtures.loc[fixtures['id'] == 1342321, 'status'] = 'NS'

In [ ]:
fixtures.loc[((fixtures['home'] == 'Viking') | (fixtures['away'] == 'Viking')) & (fixtures['season'] == 2025)]